In [1]:
from selenium import webdriver
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [58]:
korea_china_2015 = pd.read_csv('./korea_china_players_2015.csv')
uzbek_2015 = pd.read_csv('./Data/uzbek_player_2015.csv')
australia_2015 = pd.read_csv('./Data/australia_player_2015.csv')
oman_irak_2015 = pd.read_csv('./Data/oman_irak_player_2015.csv')
pala_katar_2015 = pd.read_csv('./Data/pala_katar_player_2015.csv')
kuwait_2015 = pd.read_csv('./Data/kuwait_player_2015.csv')
saudi_2015 = pd.read_csv('./Data/saudi_player_2015.csv')
north_korea_2015 = pd.read_csv('./Data/north-korea_player_2015.csv')
iran_2015 = pd.read_csv('./Data/iran_player_2015.csv')
uae_2015 = pd.read_csv('./Data/uae_player_2015.csv')
bahrain_2015 = pd.read_csv('./Data/bahrain_player_2015.csv')
japan_2015 = pd.read_csv('./Data/japan_player_2015.csv')
jordan_2015 = pd.read_csv('./Data/jordan_player_2015.csv')

In [59]:
players_2015 = pd.concat([korea_china_2015,uzbek_2015,australia_2015,oman_irak_2015,pala_katar_2015,kuwait_2015,
                         saudi_2015,north_korea_2015,iran_2015,uae_2015,bahrain_2015,japan_2015,jordan_2015])

In [60]:
del players_2015['age']
del players_2015['cap']
del players_2015['goal']
del players_2015['nation']

In [61]:
players_2015_main = pd.read_csv('./Data/semi_players_2015.csv')

In [62]:
len(players_2015)

367

In [63]:
len(players_2015_main)

367

In [64]:
players_2015_total = pd.merge(players_2015_main, players_2015, on = 'name')

In [65]:
players_2015_total.to_csv('./Data/total_players_2015.csv',index=False,header=True)

In [68]:
players_2015_total

,age,cap,goal,name,club,nation,height,salary
0,22,13,0,Mathew Ryan,Club Brugge,Australia,184,270000
1,27,12,0,Ivan Franjic,Torpedo Moscow,Australia,180,540
2,23,13,0,Jason Davidson,West Bromwich Albion,Australia,180,360
3,35,77,36,Tim Cahill,New York Red Bulls,Australia,180,900
4,29,33,2,Mark Milligan,Melbourne Victory,Australia,178,675
5,26,21,0,Matthew Spiranovic,Western Sydney Wanderers,Australia,188,450
6,23,16,1,Mathew Leckie,Ingolstadt 04,Australia,181,135000
7,25,3,0,Chris Herd,Aston Villa,Australia,188,135000
8,23,5,1,Tomi Juric,Western Sydney Wanderers,Australia,191,360
9,26,32,3,Robbie Kruse,Bayer Leverkusen,Australia,179,248000
10,23,21,1,Tommy Oar,FC Utrecht,Australia,169,135000
11,26,5,0,Mitchell Langerak,Borussia Dortmund,Australia,193,900
12,24,7,2,Aziz Behich,Bursaspor,Australia,170,360
13,26,16,1,James Troisi,Zulte Waregem,Australia,176,108000
14,30,52,6,Mile Jedinak,Crystal Palace,Australia,187,225000
15,26,7,0,Nathan Burns,Wellington Phoenix,Australia,173,450
16,32,50,1,Matt McKay,Brisbane Roar,Australia,174,720
17,33,8,0,Eugene Galekovic,Adelaide United,Australia,188,270000
18,21,3,0,Terry Antonis,Sydney FC,Australia,180,540
19,23,4,0,Trent Sainsbury,PEC Zwolle,Australia,184,675
20,22,5,0,Massimo Luongo,Swindon Town,Australia,176,360
21,30,11,0,Alex Wilkinson,Jeonbuk Hyundai Motors,Australia,187,585
22,34,81,13,Mark Bresciano,Al-Gharafa,Australia,176,450
23,30,64,0,Jung Sung-ryong,Suwon Bluewings,south_korea,191,135000
24,29,13,0,Kim Chang-soo,Kashiwa Reysol,south_korea,179,675
25,22,9,0,Kim Jin-su,1899 Hoffenheim,south_korea,177,900
26,26,4,0,Kim Ju-young,Shanghai SIPG,south_korea,184,675
27,33,37,5,Kwak Tae-hwi,Al-Hilal,south_korea,188,135000
28,27,17,0,Park Joo-ho,Mainz 05,south_korea,176,135000
29,22,34,7,Son Heung-min,Bayer Leverkusen,south_korea,184,1260000
...,...,...,...,...,...,...,...,...
336,27,78,13,Alaa Abdul-Zahra,Al-Shorta,iraq,179,450
337,22,2,0,Sameh Saeed,Baghdad,iraq,170,450
338,20,10,0,Mahdi Kamel,Al-Shorta,iraq,164,450
339,21,10,0,Mohammed Hameed,Al-Shorta,iraq,185,450
340,22,36,1,Saad Abdul-Amir,Erbil,iraq,180,450
341,20,3,0,Ali Husni,Al-Minaa,iraq,167,450
342,23,23,0,Waleed Salem,Al-Shorta,iraq,175,450
343,24,14,0,Tawfiq Ali,Wadi Al-Nes,palestine,195,45
344,32,27,0,Raed Fares,Thaqafi Tulkarm,palestine,170,45
345,31,44,3,Hussam Abu Saleh,Hilal Al-Quds,palestine,173,68
346,28,20,1,Ahmed Harbi,Al-Am'ary,palestine,173,68
347,28,17,1,Haytham Theeb,Hilal Al-Quds,palestine,180,68
348,27,29,1,Mousa Abu Jazar,Shabab Al-Khalil,palestine,178,45
349,28,48,13,Ashraf Nu'man,Al-Faisaly,palestine,185,23
350,27,9,0,Hesham Salhe,Hilal Al-Quds,palestine,174,45
351,25,12,0,Khaled Salem,Hilal Al-Quds,palestine,188,45
352,31,39,7,Ismail Al-Amour,Hilal Al-Quds,palestine,175,68
353,23,10,5,Ahmed Maher,Shabab Al-Dhahiriya,palestine,183,45
354,28,0,0,Tamer Salah,Hilal Al-Quds,palestine,186,45
355,28,1,0,Jaka Ihbeisheh,NK Krka,palestine,172,180
356,21,10,1,Abdullah Jaber,Hilal Al-Quds,palestine,175,45
357,30,29,1,Abdelatif Bahdari,Al-Wehdat,palestine,188,225
358,21,4,1,Mahmoud Eid,Nyköping,palestine,182,45
359,30,7,0,Alexis Norambuena,GKS Belchatow,palestine,173,405
360,21,7,0,Mus'ab Al-Batat,Shabab Al-Dhahiriya,palestine,168,45
361,25,25,6,Abdelhamid Abuhabib,Markaz Balata,palestine,175,45
362,30,56,1,Khader Yousef,Wadi Al-Nes,palestine,175,45
363,34,66,0,Ramzi Saleh,unattached,palestine,183,90
364,23,0,0,Rami Hamadi,Shabab Al-Khalil,palestine,183,45
365,32,27,1,Murad Ismail Said,Hilal Al-Quds,palestine,175,45

In [69]:
# database로 넣기
import pymysql
from sqlalchemy import create_engine

In [73]:
# Table의 column이름과 df의 column 이름이 일치해야함.
column = colnames = ['age','cap','goal','name','club','nation','height','salary']
total_players = pd.read_csv('./Data/total_players_2015.csv')
total_players = pd.DataFrame(total_players)
total_players.columns = column
total_players.head()

,age,cap,goal,name,club,nation,height,salary
0,22,13,0,Mathew Ryan,Club Brugge,Australia,184,270000
1,27,12,0,Ivan Franjic,Torpedo Moscow,Australia,180,540
2,23,13,0,Jason Davidson,West Bromwich Albion,Australia,180,360
3,35,77,36,Tim Cahill,New York Red Bulls,Australia,180,900
4,29,33,2,Mark Milligan,Melbourne Victory,Australia,178,675

In [78]:
engine = create_engine("mysql+pymysql://root:" + "1111" + 
                       "@192.168.35.143:3306/asiancup?charset=utf8",
                      encoding = 'utf-8')
conn = engine.connect()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '192.168.35.143' ([Errno 64] Host is down)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
total_players.to_sql(name = 'players_2015', con = engine, if_exists = 'append', index = False)