>>>>> # 팀점수를 예측하는 머신러닝 구현

In [70]:
# 필요 Module 불러오기
# sql 사용 
import pymysql
# 데이터 정제용
import pandas as pd
import numpy as np
# 머신러닝용
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from scipy import stats # 확률분포 그래프
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor # GradientBoostingRegressor
# 경고메세지무시
import warnings
warnings.filterwarnings('ignore')

### DataBase에서 데이터 불러오기

In [71]:
# mysql Connection - 요한형 DB 접속
conn = pymysql.connect(host = '192.168.101.106',user = 'root',password = '1111',db = 'asiancup',charset = 'utf8')

#Connection으로 부터 cursor생성 - 테이터 베이스 빈줄에 커서가 깜빡 거리고 있는 것이다.
curs = conn.cursor()
 
# SQL 문장
sql = 'select * from nations2011' # 2011년 매치데이터 불러오기
curs.execute(sql) # 실행문 - 결과는 데이터가 몇개 있는지 알려준다.

# 2011년 아시안컵 매치 데이터
rows = curs.fetchall()
print(rows)
conn.close() # 연결해제

((1, "['16-Jan-11', '19:15']", '카타르', 6, 23, 43, 4, 24, 92, 11295), (2, "['12-Jan-11', '19:15']", '카타르', 4, 16, 51, 1, 21, 92, 11295), (3, "['21-Jan-11', '16:25']", '카타르', 7, 18, 41, 1, 17, 92, 11295), (4, "['08-Jan-11', '16:15']", '쿠웨이트', 2, 17, 51, 1, 23, 96, 10350), (5, "['12-Jan-11', '16:15']", '쿠웨이트', 3, 14, 48, 1, 21, 96, 10350), (6, "['16-Jan-11', '19:15']", '쿠웨이트', 1, 16, 57, 4, 24, 96, 10350), (7, "['09-Jan-11', '16:15']", '일본', 7, 13, 68, 2, 17, 17, 4180995), (8, "['21-Jan-11', '16:25']", '일본', 6, 17, 59, 1, 17, 17, 4180995), (9, "['25-Jan-11', '16:25']", '일본', 8, 35, 57, 4, 17, 17, 4180995), (10, "['13-Jan-11', '19:15']", '일본', 5, 19, 59, 4, 19, 17, 4180995), (11, "['17-Jan-11', '16:15']", '일본', 9, 23, 52, 4, 20, 17, 4180995), (12, "['29-Jan-11', '18:00']", '일본', 3, 14, 55, 4, 20, 17, 4180995), (13, "['09-Jan-11', '19:15']", '사우디아라비아', 3, 13, 55, 1, 24, 98, 577598), (14, "['17-Jan-11', '16:15']", '사우디아라비아', 3, 7, 48, 4, 20, 98, 577598), (15, "['13-Jan-11', '16:15']", '사우디아라비아', 4, 19, 53, 4, 19, 98, 577598), (16, "['10-Jan-11', '16:15']", '인도', 2, 10, 35, 4, 21, 160, 1817), (17, "['14-Jan-11', '19:15']", '인도', 6, 11, 38, 4, 15, 160, 1817), (18, "['18-Jan-11', '16:15']", '인도', 4, 17, 35, 3, 19, 160, 1817), (19, "['10-Jan-11', '19:15']", '한국', 5, 17, 62, 1, 24, 31, 2308955), (20, "['18-Jan-11', '16:15']", '한국', 20, 9, 65, 3, 19, 31, 2308955), (21, "['14-Jan-11', '16:15']", '한국', 7, 16, 55, 4, 15, 31, 2308955), (22, "['22-Jan-11', '16:25']", '한국', 3, 29, 50, 1, 20, 31, 2308955), (23, "['25-Jan-11', '16:25']", '한국', 7, 24, 43, 4, 17, 31, 2308955), (24, "['28-Jan-11', '18:00']", '한국', 4, 10, 43, 1, 22, 31, 2308955), (25, "['11-Jan-11', '16:15']", '북한', 0, 21, 52, 4, 18, 124, 233211), (26, "['15-Jan-11', '16:15']", '북한', 4, 22, 51, 1, 23, 124, 233211), (27, "['19-Jan-11', '19:15']", '북한', 4, 15, 52, 3, 18, 124, 233211), (28, "['11-Jan-11', '19:15']", '이라크', 3, 25, 39, 4, 21, 91, 6118), (29, "['19-Jan-11', '19:15']", '이라크', 5, 18, 48, 3, 18, 91, 6118), (30, "['15-Jan-11', '19:15']", '이라크', 4, 24, 56, 1, 23, 91, 6118), (31, "['22-Jan-11', '16:25']", '이라크', 3, 17, 45, 1, 20, 91, 6118), (32, "['12-Jan-11', '16:15']", '우즈베키스탄', 2, 27, 52, 1, 21, 73, 187874), (33, "['21-Jan-11', '19:25']", '우즈베키스탄', 5, 11, 65, 1, 17, 73, 187874), (34, "['25-Jan-11', '19:25']", '우즈베키스탄', 3, 9, 67, 4, 21, 73, 187874), (35, "['28-Jan-11', '18:00']", '우즈베키스탄', 5, 15, 57, 1, 22, 73, 187874), (36, "['07-Jan-11', '19:15']", '우즈베키스탄', 7, 13, 55, 4, 20, 73, 187874), (37, "['16-Jan-11', '19:15']", '우즈베키스탄', 7, 20, 65, 4, 24, 73, 187874), (38, "['12-Jan-11', '19:15']", '중국', 5, 15, 49, 1, 21, 70, 143168), (39, "['16-Jan-11', '19:15']", '중국', 7, 17, 35, 4, 24, 70, 143168), (40, "['08-Jan-11', '16:15']", '중국', 6, 23, 49, 1, 23, 70, 143168), (41, "['13-Jan-11', '16:15']", '요르단', 3, 17, 47, 4, 19, 81, 4410), (42, "['17-Jan-11', '16:15']", '요르단', 1, 17, 38, 4, 20, 81, 4410), (43, "['09-Jan-11', '16:15']", '요르단', 2, 14, 32, 2, 17, 81, 4410), (44, "['21-Jan-11', '19:25']", '요르단', 5, 13, 35, 1, 17, 81, 4410), (45, "['13-Jan-11', '19:15']", '시리아', 4, 20, 41, 4, 19, 106, 138091), (46, "['09-Jan-11', '19:15']", '시리아', 3, 17, 45, 1, 24, 106, 138091), (47, "['17-Jan-11', '16:15']", '시리아', 7, 19, 62, 4, 20, 106, 138091), (48, "['14-Jan-11', '16:15']", '오스트레일리아', 4, 14, 45, 4, 15, 20, 4910670), (49, "['18-Jan-11', '16:15']", '오스트레일리아', 5, 18, 46, 1, 19, 20, 4910670), (50, "['22-Jan-11', '16:25']", '오스트레일리아', 10, 28, 55, 1, 20, 20, 4910670), (51, "['29-Jan-11', '18:00']", '오스트레일리아', 8, 22, 45, 4, 20, 20, 4910670), (52, "['10-Jan-11', '16:15']", '오스트레일리아', 9, 12, 65, 4, 21, 20, 4910670), (53, "['25-Jan-11', '19:25']", '오스트레일리아', 14, 13, 33, 4, 21, 20, 4910670), (54, "['14-Jan-11', '19:15']", '바레인', 9, 15, 62, 4, 15, 101, 125236), (55, "['10-Jan-11', '19:15']", '바레인', 6, 19, 38, 1, 24, 101, 125236), (56, "['18-Jan-11', '16:15']", '바레인', 4, 10, 54, 1, 19, 101, 125236), (57, "['15-Jan-11', '16:15']", '이란', 2, 26, 49, 1, 23, 42, 1556555), (58, "['22-Jan-11', '16:25']", '이란', 2, 27, 50, 1, 20, 42, 1556555), (59, "['11-Jan-11', '19:15']", '이란', 6, 19, 61, 4, 21, 42, 1556555), (60, "['19-Jan-11', '19:15']", '이란', 3, 18, 50, 3, 18, 42, 1556555), (61, "['15-Jan-11', '19:15']", '아랍에미리트', 4, 7, 44, 1, 23, 113, 7380), (62, "['19-Jan-11', '19:15']", '아랍에미리트', 3, 18, 50, 3, 18, 113, 7380), (63, "['11-Jan-11', '16:15']", '아랍에미리트', 5, 11, 48, 4, 18, 113, 7380), (64, "['07-Jan-11', '19:15']", '카타르', 4, 15, 45, 4, 20, 92, 11295))

In [72]:
# 2011년 데이터 프레임화 시키기
Asian_M2011= pd.DataFrame(list(rows))
Asian_M2011=Asian_M2011[[1,2,3,4,5,6,7,8,9]] # Seq 칼럼 지우기

In [73]:
# mysql Connection
conn = pymysql.connect(host = '192.168.101.106',user = 'root',password = '1111',db = 'asiancup',charset = 'utf8')

#Connection으로 부터 cursor생성 - 테이터 베이스 빈줄에 커서가 깜빡 거리고 있는 것이다.
curs = conn.cursor()

# SQL 문장
sql = 'select * from nations2015'
curs.execute(sql) # 실행문 - 결과는 데이터가 몇개 있는지 알려준다.

# Data Fetch
rows = curs.fetchall()
print(rows)
conn.close()

((1, "['31-Jan-15', '20:00']", '한국', 3, 19, 47, 4, 24, 51, 2306476), (2, "['30-Jan-15', '20:00']", '이라크', 7, 20, 37, 1, 24, 89, 9586), (3, "['27-Jan-15', '20:00']", '오스트레일리아', 3, 15, 53, 3, 19, 100, 1534325), (4, "['26-Jan-15', '20:00']", '한국', 7, 7, 53, 3, 20, 51, 2306476), (5, "['23-Jan-15', '20:30']", '일본', 8, 17, 68, 1, 27, 53, 7021535), (6, "['23-Jan-15', '17:30']", '이란', 4, 9, 36, 1, 31, 45, 936990), (7, "['22-Jan-15', '20:30']", '중국', 5, 12, 34, 3, 25, 84, 8151), (8, "['22-Jan-15', '18:30']", '한국', 7, 6, 61, 4, 34, 51, 2306476), (9, "['20-Jan-15', '20:00']", '일본', 9, 21, 66, 1, 29, 53, 7021535), (10, "['20-Jan-15', '20:00']", '이라크', 8, 15, 64, 1, 24, 89, 9586), (11, "['19-Jan-15', '20:00']", '카타르', 5, 11, 59, 1, 22, 86, 137367), (12, "['19-Jan-15', '19:00']", '이란', 4, 19, 32, 3, 28, 45, 936990), (13, "['18-Jan-15', '20:00']", '우즈베키스탄', 5, 29, 36, 1, 16, 74, 979110), (14, "['18-Jan-15', '20:00']", '중국', 4, 9, 64, 1, 25, 84, 8151), (15, "['17-Jan-15', '20:00']", '오만', 3, 16, 41, 1, 27, 104, 165857), (16, "['17-Jan-15', '19:00']", '오스트레일리아', 6, 19, 67, 1, 29, 100, 1534325), (17, "['16-Jan-15', '19:00']", '이라크', 2, 10, 39, 1, 30, 89, 9586), (18, "['16-Jan-15', '18:00']", '팔레스타인', 4, 11, 52, 4, 27, 134, 1825), (19, "['15-Jan-15', '20:00']", '카타르', 1, 15, 60, 1, 25, 86, 137367), (20, "['15-Jan-15', '18:00']", '바레인', 4, 19, 39, 4, 26, 124, 7089), (21, "['14-Jan-15', '19:00']", '중국', 3, 8, 50, 3, 26, 84, 8151), (22, "['14-Jan-15', '18:00']", '북한', 5, 19, 38, 1, 20, 105, 4343), (23, "['13-Jan-15', '20:00']", '오만', 2, 9, 30, 1, 26, 104, 165857), (24, "['13-Jan-15', '18:00']", '쿠웨이트', 1, 18, 49, 3, 24, 139, 5148), (25, "['12-Jan-15', '19:00']", '요르단', 3, 20, 44, 1, 25, 87, 3802), (26, "['12-Jan-15', '18:00']", '일본', 8, 18, 64, 1, 24, 53, 7021535), (27, "['11-Jan-15', '20:00']", '이란', 4, 10, 46, 1, 25, 45, 936990), (28, "['11-Jan-15', '18:00']", '아랍에미리트', 8, 11, 54, 1, 22, 65, 138181), (29, "['10-Jan-15', '19:00']", '사우디아라비아', 1, 15, 56, 3, 28, 80, 12002), (30, "['10-Jan-15', '18:00']", '우즈베키스탄', 5, 17, 60, 3, 21, 74, 979110), (31, "['10-Jan-15', '16:00']", '한국', 6, 14, 67, 3, 19, 51, 2306476), (32, "['09-Jan-15', '20:00']", '오스트레일리아', 8, 19, 60, 3, 16, 100, 1534325), (33, "['31-Jan-15', '20:00']", '오스트레일리아', 4, 26, 53, 4, 24, 100, 1534325), (34, "['30-Jan-15', '20:00']", '아랍에미리트', 4, 13, 63, 1, 24, 65, 138181), (35, "['27-Jan-15', '20:00']", '아랍에미리트', 2, 9, 47, 3, 19, 65, 138181), (36, "['26-Jan-15', '20:00']", '이라크', 2, 19, 47, 3, 20, 89, 9586), (37, "['23-Jan-15', '20:30']", '아랍에미리트', 2, 15, 32, 1, 27, 65, 138181), (38, "['23-Jan-15', '17:30']", '이라크', 7, 23, 64, 1, 31, 89, 9586), (39, "['22-Jan-15', '20:30']", '오스트레일리아', 9, 8, 66, 3, 25, 100, 1534325), (40, "['22-Jan-15', '18:30']", '우즈베키스탄', 4, 22, 39, 4, 34, 74, 979110), (41, "['20-Jan-15', '20:00']", '요르단', 1, 14, 34, 1, 29, 87, 3802), (42, "['20-Jan-15', '20:00']", '팔레스타인', 1, 9, 36, 1, 24, 134, 1825), (43, "['19-Jan-15', '20:00']", '바레인', 6, 19, 41, 1, 22, 124, 7089), (44, "['19-Jan-15', '19:00']", '아랍에미리트', 0, 12, 68, 3, 28, 65, 138181), (45, "['18-Jan-15', '20:00']", '사우디아라비아', 2, 7, 64, 1, 16, 80, 12002), (46, "['18-Jan-15', '20:00']", '북한', 4, 9, 36, 1, 25, 105, 4343), (47, "['17-Jan-15', '20:00']", '쿠웨이트', 1, 8, 59, 1, 27, 139, 5148), (48, "['17-Jan-15', '19:00']", '한국', 3, 13, 33, 1, 29, 51, 2306476), (49, "['16-Jan-15', '19:00']", '일본', 5, 23, 61, 1, 30, 53, 7021535), (50, "['16-Jan-15', '18:00']", '요르단', 6, 11, 48, 4, 27, 87, 3802), (51, "['15-Jan-15', '20:00']", '이란', 7, 11, 40, 1, 25, 45, 936990), (52, "['15-Jan-15', '18:00']", '아랍에미리트', 3, 14, 61, 4, 26, 65, 138181), (53, "['14-Jan-15', '19:00']", '우즈베키스탄', 3, 16, 50, 3, 26, 74, 979110), (54, "['14-Jan-15', '18:00']", '사우디아라비아', 7, 8, 62, 1, 20, 80, 12002), (55, "['13-Jan-15', '20:00']", '오스트레일리아', 9, 16, 70, 1, 26, 100, 1534325), (56, "['13-Jan-15', '18:00']", '한국', 6, 21, 51, 3, 24, 51, 2306476), (57, "['12-Jan-15', '19:00']", '이라크', 2, 21, 56, 1, 25, 89, 9586), (58, "['12-Jan-15', '18:00']", '팔레스타인', 1, 19, 36, 1, 24, 134, 1825), (59, "['11-Jan-15', '20:00']", '바레인', 5, 25, 54, 1, 25, 124, 7089), (60, "['11-Jan-15', '18:00']", '카타르', 5, 13, 46, 1, 22, 86, 137367), (61, "['10-Jan-15', '19:00']", '중국', 2, 14, 44, 3, 28, 84, 8151), (62, "['10-Jan-15', '18:00']", '북한', 3, 11, 40, 3, 21, 105, 4343), (63, "['10-Jan-15', '16:00']", '오만', 1, 8, 33, 3, 19, 104, 165857), (64, "['09-Jan-15', '20:00']", '쿠웨이트', 5, 10, 40, 3, 16, 139, 5148))

In [74]:
# 2015년 데이터 프레임화 시키기
Asian_M2015= pd.DataFrame(list(rows))
Asian_M2015=Asian_M2015[[1,2,3,4,5,6,7,8,9]]

### 데이터 정제

In [75]:
# 데이터 확인
Asian_M2011.head()

                        1     2  3   4   5  6   7   8      9
0  ['16-Jan-11', '19:15']   카타르  6  23  43  4  24  92  11295
1  ['12-Jan-11', '19:15']   카타르  4  16  51  1  21  92  11295
2  ['21-Jan-11', '16:25']   카타르  7  18  41  1  17  92  11295
3  ['08-Jan-11', '16:15']  쿠웨이트  2  17  51  1  23  96  10350
4  ['12-Jan-11', '16:15']  쿠웨이트  3  14  48  1  21  96  10350

In [76]:
# 데이터 확인
Asian_M2015.head()

                        1        2  3   4   5  6   7    8        9
0  ['31-Jan-15', '20:00']       한국  3  19  47  4  24   51  2306476
1  ['30-Jan-15', '20:00']      이라크  7  20  37  1  24   89     9586
2  ['27-Jan-15', '20:00']  오스트레일리아  3  15  53  3  19  100  1534325
3  ['26-Jan-15', '20:00']       한국  7   7  53  3  20   51  2306476
4  ['23-Jan-15', '20:30']       일본  8  17  68  1  27   53  7021535

In [77]:
# 컬럼 이름 변경
Asian_M2011.columns = ['기간','국가','유효슈팅','반칙','점유율','날씨','기온','피파랭킹','팀연봉']
Asian_M2011.head()

                       기간    국가  유효슈팅  반칙  점유율  날씨  기온  피파랭킹    팀연봉
0  ['16-Jan-11', '19:15']   카타르     6  23   43   4  24    92  11295
1  ['12-Jan-11', '19:15']   카타르     4  16   51   1  21    92  11295
2  ['21-Jan-11', '16:25']   카타르     7  18   41   1  17    92  11295
3  ['08-Jan-11', '16:15']  쿠웨이트     2  17   51   1  23    96  10350
4  ['12-Jan-11', '16:15']  쿠웨이트     3  14   48   1  21    96  10350

In [78]:
# 컬럼 이름 변경
Asian_M2015.columns = ['기간','국가','유효슈팅','반칙','점유율','날씨','기온','피파랭킹','팀연봉']
Asian_M2015.head()

                       기간       국가  유효슈팅  반칙  점유율  날씨  기온  피파랭킹      팀연봉
0  ['31-Jan-15', '20:00']       한국     3  19   47   4  24    51  2306476
1  ['30-Jan-15', '20:00']      이라크     7  20   37   1  24    89     9586
2  ['27-Jan-15', '20:00']  오스트레일리아     3  15   53   3  19   100  1534325
3  ['26-Jan-15', '20:00']       한국     7   7   53   3  20    51  2306476
4  ['23-Jan-15', '20:30']       일본     8  17   68   1  27    53  7021535

In [79]:
# 2011년 2015년 데이터 합치기
Asian_M2011_2015 = pd.concat([Asian_M2011,Asian_M2015])
Asian_M2011_2015.head()

                       기간    국가  유효슈팅  반칙  점유율  날씨  기온  피파랭킹    팀연봉
0  ['16-Jan-11', '19:15']   카타르     6  23   43   4  24    92  11295
1  ['12-Jan-11', '19:15']   카타르     4  16   51   1  21    92  11295
2  ['21-Jan-11', '16:25']   카타르     7  18   41   1  17    92  11295
3  ['08-Jan-11', '16:15']  쿠웨이트     2  17   51   1  23    96  10350
4  ['12-Jan-11', '16:15']  쿠웨이트     3  14   48   1  21    96  10350

In [80]:
# 국가 카테고리 값 확인 - 한글 순서대로 카테고리 적용됨
natcat = pd.DataFrame(list(Asian_M2011_2015['국가'].unique()))
natcat = natcat.sort_values(by = 0)
# natcat.reindex(index = range(1,19), columns=[0])
natcat['순서'] = range(1,19)
natcat

          0  순서
13      바레인   1
6        북한   2
3   사우디아라비아   3
11      시리아   4
15   아랍에미리트   5
16       오만   6
12  오스트레일리아   7
10      요르단   8
8    우즈베키스탄   9
7       이라크  10
14       이란  11
4        인도  12
2        일본  13
9        중국  14
0       카타르  15
1      쿠웨이트  16
17    팔레스타인  17
5        한국  18

In [81]:
# Asian_M2011_2015['피파랭킹'] = np.log1p(Asian_M2011_2015['피파랭킹'])

In [82]:
# 국가를 카테고리화 시키기
Asian_M2011_2015['국가'] = Asian_M2011_2015['국가'].astype('category')
# 날씨데이터
Asian_M2011_2015['날씨'] = Asian_M2011_2015['날씨'].astype('category')

Asian_M2011_2015['국가'].cat.categories = ['%s'%i for i in range(1,19)]

In [83]:
Asian_M2011_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 63
Data columns (total 9 columns):
기간      128 non-null object
국가      128 non-null category
유효슈팅    128 non-null int64
반칙      128 non-null int64
점유율     128 non-null int64
날씨      128 non-null category
기온      128 non-null int64
피파랭킹    128 non-null int64
팀연봉     128 non-null int64
dtypes: category(2), int64(6), object(1)
memory usage: 9.2+ KB

# 머신러닝

## 시도방법5

In [84]:
# 피파랭킹 값 변경 - 높을수록 좋은 값으로 - 아시안컵 최대값은 160
Asian_M2011_2015['피파랭킹'] = 211 - Asian_M2011_2015['피파랭킹']

In [85]:
# 반칙 횟수 최댓값
Asian_M2011_2015['반칙'].max()

35

In [86]:
# 반칙의 최대값은 35 이다. 40에서 빼서 사용해 보자
Asian_M2011_2015['반칙'] = 40 - Asian_M2011_2015['반칙']

In [87]:
# 팀 연봉의 최대값
Asian_M2011_2015['팀연봉'].max()

7021535

In [88]:
# 팀 연봉 데이터 차이 만들기
Smax = pd.DataFrame(list(Asian_M2011_2015['팀연봉'].unique())).sort_values(by=0).max() # 연봉의 최대값 7021535

# 최상위 선수들만 가산점을 주는 방식
Asian_M2011_2015['팀연봉'] / 7021535 * 40

0      0.064345
1      0.064345
2      0.064345
3      0.058961
4      0.058961
5      0.058961
6     23.818125
7     23.818125
8     23.818125
9     23.818125
10    23.818125
11    23.818125
12     3.290437
13     3.290437
14     3.290437
15     0.010351
16     0.010351
17     0.010351
18    13.153563
19    13.153563
20    13.153563
21    13.153563
22    13.153563
23    13.153563
24     1.328547
25     1.328547
26     1.328547
27     0.034853
28     0.034853
29     0.034853
        ...
34     0.787184
35     0.054609
36     0.787184
37     0.054609
38     8.740681
39     5.577755
40     0.021659
41     0.010397
42     0.040384
43     0.787184
44     0.068373
45     0.024741
46     0.029327
47    13.139440
48    40.000000
49     0.021659
50     5.337807
51     0.787184
52     5.577755
53     0.068373
54     8.740681
55    13.139440
56     0.054609
57     0.010397
58     0.040384
59     0.782547
60     0.046434
61     0.024741
62     0.944848
63     0.029327
Name: 팀연봉, Length: 128, dtype: float64

In [89]:
# 연봉데이터 변경
Asian_M2011_2015['팀연봉'] =  (Asian_M2011_2015['팀연봉'] / 6934420 * 40)

In [90]:
# 유효슈팅과 점유율에 가중치 주기 * 1.5
Asian_M2011_2015['유효슈팅'] = Asian_M2011_2015['유효슈팅'] * 1.5
Asian_M2011_2015['점유율'] = Asian_M2011_2015['점유율'] * 0.3

In [91]:
# 점수 최댓값 - 360.78839064392616
# score.max()

#### 팀별 점수내기

In [92]:
# 점수 내기!
score = Asian_M2011_2015['유효슈팅'] + Asian_M2011_2015['반칙'] + Asian_M2011_2015['점유율'] + Asian_M2011_2015['기온'] + \
+ Asian_M2011_2015['피파랭킹'] + Asian_M2011_2015['팀연봉']

# pd.DataFrame(list(score)).describe()
Asian_M2011_2015['점수'] = pd.DataFrame(list(score)) / 370 * 100
Asian_M2011_2015

,기간,국가,유효슈팅,반칙,점유율,날씨,기온,피파랭킹,팀연봉,점수
0,"['16-Jan-11', '19:15']",15,9.0,17,12.9,4,24,119,0.065153,49.179771
1,"['12-Jan-11', '19:15']",15,6.0,24,15.3,1,21,119,0.065153,50.098690
2,"['21-Jan-11', '16:25']",15,10.5,22,12.3,1,17,119,0.065153,48.882474
3,"['08-Jan-11', '16:15']",16,3.0,23,15.3,1,23,115,0.059702,48.475595
4,"['12-Jan-11', '16:15']",16,4.5,26,14.4,1,21,115,0.059702,48.908028
5,"['16-Jan-11', '19:15']",16,1.5,24,17.1,4,24,115,0.059702,49.097217
6,"['09-Jan-11', '16:15']",13,10.5,27,20.4,2,17,194,24.117345,79.193877
7,"['21-Jan-11', '16:25']",13,9.0,23,17.7,1,17,194,24.117345,76.977661
8,"['25-Jan-11', '16:25']",13,12.0,5,17.1,4,17,194,24.117345,72.761445
9,"['13-Jan-11', '19:15']",13,7.5,21,17.7,4,19,194,24.117345,76.572255
10,"['17-Jan-11', '16:15']",13,13.5,17,15.6,4,20,194,24.117345,76.815499
11,"['29-Jan-11', '18:00']",13,4.5,26,16.5,4,20,194,24.117345,77.058742
12,"['09-Jan-11', '19:15']",3,4.5,27,16.5,1,24,113,3.331774,50.900479
13,"['17-Jan-11', '16:15']",3,4.5,33,14.4,4,20,113,3.331774,50.873452
14,"['13-Jan-11', '16:15']",3,6.0,21,15.9,4,19,113,3.331774,48.170750
15,"['10-Jan-11', '16:15']",12,3.0,30,10.5,4,21,51,0.010481,31.219049
16,"['14-Jan-11', '19:15']",12,9.0,29,11.4,4,15,51,0.010481,31.192022
17,"['18-Jan-11', '16:15']",12,6.0,23,10.5,3,19,51,0.010481,29.597427
18,"['10-Jan-11', '19:15']",18,7.5,23,18.6,1,24,180,13.318807,72.005083
19,"['18-Jan-11', '16:15']",18,30.0,31,19.5,3,19,180,13.318807,79.140218
20,"['14-Jan-11', '16:15']",18,10.5,24,16.5,4,15,180,13.318807,70.086164
21,"['22-Jan-11', '16:25']",18,4.5,11,15.0,1,20,180,13.318807,65.896975
22,"['25-Jan-11', '16:25']",18,10.5,16,12.9,4,17,180,13.318807,67.491569
23,"['28-Jan-11', '18:00']",18,6.0,30,12.9,1,22,180,13.318807,71.410488
24,"['11-Jan-11', '16:15']",2,0.0,19,15.6,4,18,87,1.345237,38.093307
25,"['15-Jan-11', '16:15']",2,6.0,18,15.3,1,23,87,1.345237,40.714929
26,"['19-Jan-11', '19:15']",2,6.0,25,15.6,3,18,87,1.345237,41.336551
27,"['11-Jan-11', '19:15']",10,4.5,15,11.7,4,21,120,0.035291,46.550079
28,"['19-Jan-11', '19:15']",10,7.5,22,14.4,3,18,120,0.035291,49.171700
29,"['15-Jan-11', '19:15']",10,6.0,16,16.8,1,23,120,0.035291,49.144673
...,...,...,...,...,...,...,...,...,...,...
34,"['27-Jan-15', '20:00']",5,3.0,31,14.1,3,19,146,0.797073,56.941546
35,"['26-Jan-15', '20:00']",10,3.0,21,14.1,3,20,122,0.055295,57.590194
36,"['23-Jan-15', '20:30']",5,3.0,25,9.6,1,27,146,0.797073,57.590194
37,"['23-Jan-15', '17:30']",10,10.5,17,19.2,1,31,122,0.055295,56.763740
38,"['22-Jan-15', '20:30']",7,13.5,32,19.8,3,25,111,8.850488,56.709686
39,"['22-Jan-15', '18:30']",9,6.0,18,11.7,4,34,137,5.647826,55.547524
40,"['20-Jan-15', '20:00']",8,1.5,26,10.2,1,29,124,0.021931,51.520389
41,"['20-Jan-15', '20:00']",17,1.5,31,10.8,1,24,77,0.010527,50.250118
42,"['19-Jan-15', '20:00']",1,9.0,21,12.3,1,22,87,0.040892,50.169037
43,"['19-Jan-15', '19:00']",5,0.0,28,20.4,3,28,146,0.797073,51.898767
44,"['18-Jan-15', '20:00']",3,3.0,33,19.2,1,16,131,0.069231,44.080150
45,"['18-Jan-15', '20:00']",2,6.0,31,10.8,1,25,106,0.025052,46.161231
46,"['17-Jan-15', '20:00']",16,1.5,32,17.7,1,27,72,0.029695,47.539609
47,"['17-Jan-15', '19:00']",18,4.5,27,9.9,1,29,160,13.304507,75.628743
48,"['16-Jan-15', '19:00']",13,7.5,17,18.3,1,30,158,40.502508,76.115229
49,"['16-Jan-15', '18:00']",8,9.0,29,14.4,4,27,124,0.021931,76.439554
50,"['15-Jan-15', '20:00']",11,10.5,29,12.0,1,25,166,5.404864,76.439554
51,"['15-Jan-15', '18:00']",5,4.5,26,18.3,4,26,146,0.797073,81.439554
52,"['14-Jan-15', '19:00']",9,4.5,24,15.0,3,26,137,5.647826,80.601716
53,"['14-Jan-15', '18:00']",3,10.5,32,18.6,1,20,131,0.069231,49.411460
54,"['13-Jan-15', '20:00']",7,13.5,24,21.0,1,26,111,8.850488,47.600649
55,"['13-Jan-15', '18:00']",18,9.0,19,15.3,3,24,160,13.304507,49.168217
56,"['12-Jan-15', '19:00']",10,3.0,19,16.8,1,25,122,0.055295,62.886140
57,"['12-Jan-15', '18:00']",17,1.5,21,10.8,1,24,77,0.010527,61.886140
58,"['11-Jan-15', '20:00']",1,7.5,15,16.2,1,25,87,0.040892,66.832086
59,"['11-Jan-15', '18:00']",15,7.5,27,13.8,1,22,125,0.792378,64.183437
60,"['10-Jan-15', '19:00']",14,3.0,26,13.2,3,28,127,0.047018,46.822316
61,"['10-Jan-15', '18:00']",2,4.5,29,12.0,3,21,106,0.025052,42.579073
62,"['10-Jan-15', '16:00']",6,1.5,32,9.9,3,19,107,0.956717,45.119614
63,"['09-Jan-15', '20:00']",16,7.5,30,12.0,3,16,72,0.029695,49.612204

In [93]:
# 인덱스 재구성
Asian_M2011_2015.reset_index(inplace=True)

In [94]:
## 데이터 옮기기
train_A =  Asian_M2011_2015

# 필요한 Feature 구성
feature_name = \
['국가','날씨','기온','유효슈팅','반칙','점유율','피파랭킹','팀연봉']

In [95]:
# 훈련데이터 생성 - 문제
X_train = train_A[feature_name]
print(X_train.shape)
X_train.tail()

(128, 8)

     국가 날씨  기온  유효슈팅  반칙   점유율  피파랭킹       팀연봉
123  15  1  22   7.5  27  13.8   125  0.792378
124  14  3  28   3.0  26  13.2   127  0.047018
125   2  3  21   4.5  29  12.0   106  0.025052
126   6  3  19   1.5  32   9.9   107  0.956717
127  16  3  16   7.5  30  12.0    72  0.029695

In [96]:
# 훈련데이터 생성 - 답
Y_train = train_A['점수']
print(Y_train.shape)
Y_train.tail()

(128,)

123    64.183437
124    46.822316
125    42.579073
126    45.119614
127    49.612204
Name: 점수, dtype: float64

In [97]:
# RMSLE
from sklearn.metrics import make_scorer
def rmsle(predicted_values, actual_values):
    # Numpy로 배열 형태로 변경
    predicted_values = np.array(predicted_values)
    actual_values = np.array(actual_values)
    
    # 에측값과 실제값에 1을 더하고 log를 씌운다.
    log_predict = np.log(predicted_values + 1)
    log_actual = np.log(actual_values + 1)
    
    # 위에서 계싼된 예측값에서 실제값을 빼주고 제곱을 해준다.
    difference = log_predict - log_actual
    difference = np.square(difference)
    
    # 평균을 구한다
    mean_difference = difference.mean()
    
    # 루트를 씌운다
    score = np.sqrt(mean_difference)
    
    return score

rmsle_scorer = make_scorer(rmsle)
rmsle_scorer

make_scorer(rmsle)

In [98]:
k_fold = KFold(n_splits = 10, shuffle = True, random_state = 0) # 고정된 상태로 10번 섞어서 테스트해라

In [99]:
# 모델 생성
model = GradientBoostingRegressor(n_estimators=1000, alpha=0.1, random_state = 0) # 1000개부터 10프로씩 줄이면서 진행
model

GradientBoostingRegressor(alpha=0.1, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=1000, n_iter_no_change=None, presort='auto',
             random_state=0, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [100]:
# Training
model.fit(X_train, Y_train)

GradientBoostingRegressor(alpha=0.1, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=1000, n_iter_no_change=None, presort='auto',
             random_state=0, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [101]:
%time score = cross_val_score(model, X_train, Y_train, cv = k_fold, scoring = rmsle_scorer)
score = score.mean()
print("Score = ", score)

Wall time: 3.38 s
Score =  0.1874078245023402

## 팀점수예측 머신러닝

In [107]:
# 예측
# 날씨 - 구름 1 안개 2 비 3 맑음 4
print('바레인', '북한', '사우디아라비아', '시리아', '아랍에미리트', '오만', '오스트레일리아', '요르단')
print('우즈베키스탄', '이라크', '이란', '인도', '일본', '중국', '카타르', '쿠웨이트', '팔레스타인','한국')
print('')

# 랭킹 데이터 불러오기
Frank2019 = pd.read_csv('./data/FIFARank.csv')
Salary2019 = pd.read_csv('./data/players_2019_edit.csv')

print('')
print('오늘의 날씨를 입력해주세요!!','구름', '안개', '비', '맑음')

weather1 = input("날씨(구름', '안개', '비', '맑음) : ")
if weather1 == '구름':
    weather1 = 1
if weather1 == '안개':
    weather1 = 2
if weather1 == '비':
    weather1 = 3
if weather1 == '맑음':
    weather1 = 4
temp1 = input("오늘의 기온 : ")

print('')

# 팀 입력받기
team1 = input("팀 1 국가 : ")
a = natcat.loc[natcat[0]=='%s'%team1,"순서"]
a = int(a)
# a = Asian_M2011_2015.loc[Asian_M2011_2015['국가'] == '%d'%a,"국가"].unique()

rank1 = Frank2019.loc[Frank2019['국가'] == '%s'%team1,"랭킹"]
rank1 = int(rank1)

Salary1 = Salary2019.loc[Salary2019['국가'] == '%s'%team1,"팀연봉"]
Salary1 = int(Salary1)

print('팀 1 국가 %s의 랭킹 %d위가 점수에 반영되었습니다. '%(team1,rank1))
print('팀 1 국가 %s의 전체선수연봉 %d(1,000 단위)가 점수에 반영되었습니다. '%(team1,Salary1))

shoot1 = input("팀 1 유효슈팅 : ")
foul1 = input("팀 1 반칙 : ")
time1 = input("팀 1 점유율 : ")

print('')

# 팀2
team2 = input("팀 2 국가 : ")
b = natcat.loc[natcat[0]=='%s'%team2,"순서"]
b=int(b)
# b = Asian_M2011_2015.loc[Asian_M2011_2015['국가'] == '%d'%b,"국가"].unique()

rank2 = Frank2019.loc[Frank2019['국가'] == '%s'%team2,"랭킹"]
rank2 = int(rank2)

Salary2 = Salary2019.loc[Salary2019['국가'] == '%s'%team2,"팀연봉"]
Salary2 = int(Salary2)

print('팀 2 국가 %s의 랭킹 %d위가 점수에 반영되었습니다. '%(team2,rank2))
print('팀 2 국가 %s의 전체선수연봉 %d(1,000 단위)가 점수에 반영되었습니다. '%(team2,Salary2))

shoot2 = input("팀 2 유효슈팅 : ")
foul2 = input("팀 2 반칙 : ")
time2 = input("팀 2 점유율 : ")


pre1 = model.predict([[str(a),str(weather1),int(temp1),(int(shoot1) * 1.5),(40 - int(foul1)),(int(time1) * 0.3),(211 - rank1),(Salary1 / 6934420 * 40)]])
pre2 = model.predict([[str(b),str(weather1),int(temp1),(int(shoot2) * 1.5),(40 - int(foul2)),(int(time2) * 0.3),(211 - rank2),(Salary2 / 6934420 * 40)]])
print('')
print(team1, pre1) # 쿠웨이트
print(team2, pre2) # 우즈벡

if pre1 > pre2:
    print('%s (%d) 이 %s (%d)를 이겼습니다.'%(team1,pre1,team2,pre2))
if pre2 > pre1:
    print('%s (%d) 이 %s (%d)를 이겼습니다.'%(team2,pre2,team1,pre1))

바레인 북한 사우디아라비아 시리아 아랍에미리트 오만 오스트레일리아 요르단
우즈베키스탄 이라크 이란 인도 일본 중국 카타르 쿠웨이트 팔레스타인 한국


오늘의 날씨를 입력해주세요!! 구름 안개 비 맑음
날씨(구름', '안개', '비', '맑음) : 구름
오늘의 기온 : 24

팀 1 국가 : 중국
팀 1 국가 중국의 랭킹 76위가 점수에 반영되었습니다.
팀 1 국가 중국의 전체선수연봉 326027(1,000 단위)가 점수에 반영되었습니다.
팀 1 유효슈팅 : 1
팀 1 반칙 : 14
팀 1 점유율 : 48

팀 2 국가 : 이란
팀 2 국가 이란의 랭킹 29위가 점수에 반영되었습니다.
팀 2 국가 이란의 전체선수연봉 4530110(1,000 단위)가 점수에 반영되었습니다.
팀 2 유효슈팅 : 7
팀 2 반칙 : 18
팀 2 점유율 : 52

중국 [55.25455959]
이란 [72.27229136]
이란 (72) 이 중국 (55)를 이겼습니다.

> ## 시도방법 1

>> score = Asian_M2011_2015['유효슈팅'] + Asian_M2011_2015['반칙'] + Asian_M2011_2015['점유율'] + Asian_M2011_2015['기온'] + \
>> Asian_M2011_2015['기온'] + Asian_M2011_2015['피파랭킹'] + np.log1p(Asian_M2011_2015['팀연봉']) 
>> - 팀 연봉 데이터를 그대로 가지고 점수를 내면 팀 연봉의 영향력이 너무 크므로 표준화 시켜 점수에 적용
>> - 머신러닝에 들어가는 팀연봉 데이터는 표준화 시키지 않고, 모든 칼럼을 그대로 머신러닝에 사용

 Wall time: 5.72 s
Score =  0.22199101780680658

> ## 시도방법 2
>> - 점수게산에서 다른 방향으로 적용되는 점수들을 한방향으로 맞춰주지 않았다.
>> - (유효슈팅, 점유율, 팀연봉) - 높아질수록 승률 높아지는
>> - (반칙, 피파랭킹) - 낮을수록 승률이 높아지는 - > 낮을 수록 좋은 값을 반대로 맞춰주자!
>> - (기온) - 한경기에서 같은 값을 가질 수 밖에 없는 값 - 그냥 더해주자

Wall time: 2.58 s
Score =  0.1930022844021758

> ## 시도방법 3
>> - 시도2에서 연봉을 표준화 시켜서 머신러닝에 넣고 / 모든 데이터를 가지고 훈련시켜 임이의 값을 넣어 결과를 살펴보자 

Wall time: 5.05 s
Score =  0.1795432166027756

> ## 시도방법 4
>> - 시도3에서 연봉을 표준화 시켜서 점수에 반영하니 이 요소의 반영정도가 너무 낮아져 강팀의 강점이 부각되지 않는다.
>> - 표준화 시킨 값을 증폭시켜 어느정도 차이를 만들어낼 요소가 필요하다.

> ## 시도방법 5
>> - 현재의 방법으로는 연봉과 피파랭킹이 경기 승패에 커다란 요인이 되고 있다. 그래서 사우디 - 시리아 (2011.1.9)경기 맞추지 못함
>> - 각 경기의 우위인 볼점유율과 유효슈팅에 대한 점수 가중치가 필요하다.
>> - 점수에 가중치를 두어 계산 - 사용자입력에서도 가중치르 두어 입력
>> - ( 피파랭킹 값 변경 - 높을수록 좋은 값으로 - 아시안컵 최대값은 160 ) 
>>> Asian_M2011_2015['피파랭킹'] = 211 - Asian_M2011_2015['피파랭킹']
>> - ( 반칙의 최대값은 35 이다. 40에서 빼서 사용해 보자. )
>>> Asian_M2011_2015['반칙'] = 40 - Asian_M2011_2015['반칙']
>> - ( 최상위 선수들만 가산점을 주는 방식 )
>>> Asian_M2011_2015['팀연봉'] / 7021535 * 10
>> - ( 유효슈팅과 점유율에 가중치 주기 * 1.5 )
>>> Asian_M2011_2015['유효슈팅'] = Asian_M2011_2015['유효슈팅'] * 1.5   
>>> Asian_M2011_2015['점유율'] = Asian_M2011_2015['점유율'] * 1.5