In [1]:
from selenium import webdriver
import urllib.request as req
from bs4 import BeautifulSoup
import pandas as pd

In [104]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://en.wikipedia.org/wiki/2015_AFC_Asian_Cup_squads')

In [100]:
# 네임 추출 테스트
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
name = soup.select('#mw-content-text > div > table > tbody > tr > th > a')[22].text
age = soup.select('#mw-content-text > div > table > tbody > tr > td')[2].text.split()[4].replace(')','')
cap = soup.select('#mw-content-text > div > table > tbody > tr > td')[3].text.split()[0]
goal = soup.select('#mw-content-text > div > table > tbody > tr > td')[4].text
club = soup.select('#mw-content-text > div > table > tbody > tr > td')[5].text
print(name)
print(age)
print(cap)
print(goal)
print(club)

Mark Bresciano
22
13
0

 Club Brugge

In [105]:
# 부상자 때문에 엔트리가 한명 적어진 인도는 따로 Scarpy
nameList = []
ageList = []
capList = []
goalList = []
clubList = []

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
for i in range(0,367):
    name = soup.select('#mw-content-text > div > table > tbody > tr > th > a')[i].text
    nameList.append(name)
for i in range(0,2202):
    if i % 6 == 2:
        age = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.split()[4].replace(')','')
        ageList.append(age)    
    if i % 6 == 3:
        cap = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.strip()
        capList.append(cap)
    if i % 6 == 4:
        goal = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.strip()
        goalList.append(goal)
    if i % 6 == 5:
        club = soup.select('#mw-content-text > div > table > tbody > tr > td')[i].text.strip()
        clubList.append(club)

In [106]:
print(nameList)
print(ageList)
print(capList)
print(goalList)
print(clubList)

['Mathew Ryan', 'Ivan Franjic', 'Jason Davidson', 'Tim Cahill', 'Mark Milligan', 'Matthew Spiranovic', 'Mathew Leckie', 'Chris Herd', 'Tomi Juric', 'Robbie Kruse', 'Tommy Oar', 'Mitchell Langerak', 'Aziz Behich', 'James Troisi', 'Mile Jedinak', 'Nathan Burns', 'Matt McKay', 'Eugene Galekovic', 'Terry Antonis', 'Trent Sainsbury', 'Massimo Luongo', 'Alex Wilkinson', 'Mark Bresciano', 'Jung Sung-ryong', 'Kim Chang-soo', 'Kim Jin-su', 'Kim Ju-young', 'Kwak Tae-hwi', 'Park Joo-ho', 'Son Heung-min', 'Kim Min-woo', 'Cho Young-cheol', 'Nam Tae-hee', 'Lee Keun-ho', 'Han Kyo-won', 'Koo Ja-cheol', 'Han Kook-young', 'Lee Myung-joo', 'Ki Sung-yueng', 'Lee Chung-yong', 'Lee Jung-hyup', 'Kim Young-gwon', 'Jang Hyun-soo', 'Kim Seung-gyu', 'Cha Du-ri', 'Kim Jin-hyeon', 'Ali Al-Habsi', 'Mohammed Al-Musalami', 'Jaber Al-Owaisi', 'Ali Al-Jabri', 'Nasser Al-Shimli', 'Raed Ibrahim Saleh', 'Mohammed Al-Siyabi', 'Eid Al-Farsi', 'Abdulaziz Al-Muqbali', 'Qasim Said', 'Amer Said Al-Shatri', 'Ahmed Mubarak Al-Mahaijri', 'Abdul Salam Al-Mukhaini', 'Yaqoob Abdul-Karim', 'Ali Salim Al-Nahar', 'Ali Al-Busaidi', 'Hassan Mudhafar Al-Gheilani', 'Mazin Al-Kasbi', 'Ahmed Al-Mukhaini', 'Amad Al-Hosni', 'Mohsin Al-Khaldi', 'Sulaiman Al-Buraiki', 'Said Al-Ruzaiqi', 'Khaled Al Rashidi', 'Amer Al Fadhel', 'Fahad Awadh', 'Hussain Fadhel', 'Fahed Al Hajri', 'Khaled Al Qahtani', 'Talal Al Fadhel', 'Saleh Al Sheikh', 'Abdullah Al Buraiki', 'Aziz Mashaan', 'Fahad Al Ansari', 'Sultan Al Enezi', 'Musaed Neda', 'Talal Al Amer', 'Faisal Al Enezi', 'Faisal Zaid', 'Bader Al Mutawa', 'Khalid El Ebrahim', 'Abdul Rahman Al Shammari', 'Yousef Nasser', 'Ali Maqseed', 'Sulaiman Abdulghafour', 'Hameed Youssef', 'Eldorbek Suyunov', 'Egor Krimets', 'Shavkat Mullajanov', 'Sardor Rashidov', 'Anzur Ismailov', 'Bahodir Nasimov', 'Azizbek Haydarov', 'Server Djeparov', 'Odil Ahmedov', 'Jamshid Iskanderov', 'Igor Sergeev', 'Ignatiy Nesterov', 'Lutfulla Turaev', 'Shukhrat Mukhammadiev', 'Jasur Hasanov', 'Vokhid Shodiev', 'Sanzhar Tursunov', 'Timur Kapadze', 'Vitaliy Denisov', 'Islom Tukhtakhodjaev', 'Akbar Turaev', 'Farrukh Sayfiev', 'Akmal Shorakhmedov', 'Waleed Abdullah', 'Saeed Al Mowalad', 'Osama Hawsawi', 'Abdullah Al-Zori', 'Omar Hawsawi', 'Mustafa Al-Bassas', 'Salman Al-Faraj', 'Yahya Al-Shehri', 'Naif Hazazi', 'Mohammad Al-Sahlawi', 'Waleed Bakshween', 'Hassan Muath Fallatah', 'Yasser Al-Shahrani', 'Saud Kariri', 'Ibrahim Ghaleb', 'Motaz Hawsawi', 'Taisir Al-Jassim', 'Salem Al-Dawsari', 'Fahad Al-Muwallad', 'Nawaf Al Abed', 'Abdullah Al-Sudairy', 'Abdullah Al-Enezi', 'Majed Al-Marshedi', 'Zeng Cheng', 'Ren Hang', 'Mei Fang', 'Jiang Zhipeng', 'Zhang Linpeng', 'Li Ang', 'Wu Lei', 'Cai Huikang', 'Yang Xu', 'Zheng Zhi', 'Hao Junmin', 'Yan Junling', 'Liu Jianye', 'Ji Xiang', 'Wu Xi', 'Sun Ke', 'Zhang Chengdong', 'Gao Lin', 'Liu Binbin', 'Yu Hanchao', 'Yu Hai', 'Liao Lisheng', 'Wang Dalei', 'Ri Myong-guk', 'Ri Chang-ho', 'Jang Song-hyok', 'Jon Kwang-ik', 'Han Song-hyok', 'Ro Hak-su', 'Ri Sang-chol', 'Ryang Yong-gi', 'Pak Song-chol', 'Pak Kwang-ryong', 'Jong Il-gwan', 'Om Chol-song', 'Sim Hyon-jin', 'Kye Song-hyok', 'Jang Kuk-chol', 'Cha Jong-hyok', 'So Hyon-uk', 'Ri Kwang-il', 'Ri Yong-jik', 'Choe Won', 'O Hyok-chol', 'Ju Kwang-min', 'Alireza Haghighi', 'Khosro Heydari', 'Ehsan Hajsafi', 'Jalal Hosseini', 'Amir Hossein Sadeghi', 'Javad Nekounam', 'Masoud Shojaei', 'Morteza Pouraliganji', 'Omid Ebrahimi', 'Karim Ansarifard', 'Vouria Ghafouri', 'Mohsen Forouzan', 'Vahid Amiri', 'Andranik Teymourian', 'Ramin Rezaeian', 'Reza Ghoochannejhad', 'Soroush Rafiei', 'Alireza Jahanbakhsh', 'Mohammad Reza Khanzadeh', 'Sardar Azmoun', 'Ashkan Dejagah', 'Alireza Beiranvand', 'Mehrdad Pooladi', 'Majed Naser', 'Hassan Ibrahim Saqer', 'Walid Abbas', 'Habib Fardan', 'Amer Abdulrahman', 'Mohanad Salem', 'Ali Mabkhout', 'Hamdan Al-Kamali', 'Abdulaziz Hussain', 'Omar Abdulrahman', 'Ahmed Khalil', 'Khalid Eisa', 'Khamis Esmaeel', 'Abdelaziz Sanqour', 'Ismail Al Hammadi', 'Mohamed Abdulrahman', 'Majed Hassan', 'Salem Saleh', 'Mohamed Ismail Ahmed Ismail', 'Saeed Al-Kathiri', 'Haboush Saleh', 'Mohamed Yousif', 'Mohamed Ahmed', 'Qasem Burhan', 'Mohammed Musa', 'Abdelkarim Hassan', 'Almahdi Ali Mukhtar', 'Abdulaziz Hatem', 'Bilal Mohammed', 'Khalid Muftah', 'Ali Assadalla', 'Meshal Abdullah', 'Khalfan Ibrahim', 'Hassan Al-Haydos', 'Magid Mohamed', 'Ibrahim Majid', 'Khalid Abdulraouf', 'Abdurahman Abubakar', 'Boualem Khoukhi', 'Ismaeel Mohammad', 'Tresor Kangambu', 'Mohammed Muntari', 'Karim Boudiaf', 'Ahmed Soufiane', 'Saad Al Sheeb', 'Ahmed Abdul Maqsoud', 'Sayed Jaffer', 'Mohamed Husain', 'c', 'Waleed Al-Hayam', 'Sayed Saeed', 'Abdulla Shallal', 'Abdulla Yaser', 'Abdulwahab Al-Safi', 'Sayed Ahmed', 'Abdulwahab Al-Malood', 'Mohammed Tayeb Al Alawi', 'Ismail Abdul-Latif', 'Faouzi Aaish', "Abdulla Al-Haza'a", 'Jaycee John Okwunwanne', 'Abdullah Omar', 'Abdulla Yusuf Helal', 'Hussain Ali Baba', 'Mohamed Duaij Mahorfi', 'Faisal Bodahoom', 'Sami Al-Husaini', 'Hamed Al-Doseri', 'Ashraf Waheed Al Sebaie', 'Rashed Al Hooti', 'Eiji Kawashima', 'Naomichi Ueda', 'Kosuke Ota', 'Keisuke Honda', 'Yuto Nagatomo', 'Masato Morishige', 'Yasuhito Endō', 'Hiroshi Kiyotake', 'Shinji Okazaki', 'Shinji Kagawa', 'Yōhei Toyoda', 'Shusaku Nishikawa', 'Yu Kobayashi', 'Yoshinori Muto', 'Yasuyuki Konno', 'Tsukasa Shiotani', 'Makoto Hasebe', 'c', 'Takashi Inui', 'Gen Shoji', 'Gaku Shibasaki', 'Gōtoku Sakai', 'Maya Yoshida', 'Masaaki Higashiguchi', 'Amer Shafi', 'c', 'Rajaei Ayed', 'Tareq Khattab', 'Samir Raja', 'Mohammad Mustafa', 'Saeed Murjan', "Mahmoud Za'tara", 'Odai Al-Saify', 'Ahmed Sariweh', 'Ahmad Hayel', 'Oday Zahran', 'Moataz Yaseen', 'Khalil Bani Attiah', 'Abdallah Deeb', 'Mohammad Al-Dawud', 'Munther Abu Amarah', 'Saleh Rateb', 'Ahmed Elias', 'Anas Bani Yaseen', 'Hamza Al-Dardour', 'Mohammad Al-Dmeiri', 'Ahmed Abdel-Sattar', 'Yousef Al-Rawashdeh', 'Ahmad Ibrahim', 'Ali Bahjat', 'Ali Faez', 'Yaser Kasim', 'Ali Adnan', 'Amjad Kalaf', 'Justin Meram', 'Ahmed Yasin', 'Younis Mahmoud', 'c', 'Humam Tariq', 'Jalal Hassan', 'Osama Rashid', 'Salam Shaker', 'Dhurgham Ismail', 'Marwan Hussein', 'Alaa Abdul-Zahra', 'Sameh Saeed', 'Mahdi Kamel', 'Mohammed Hameed', 'Saad Abdul-Amir', 'Ali Husni', 'Waleed Salem', 'Tawfiq Ali', 'Raed Fares', 'Hussam Abu Saleh', 'Ahmed Harbi', 'Haytham Theeb', 'Mousa Abu Jazar', "Ashraf Nu'man", 'Hesham Salhe', 'Khaled Salem', 'Ismail Al-Amour', 'Ahmed Maher', 'Tamer Salah', 'Jaka Ihbeisheh', 'Abdullah Jaber', 'Abdelatif Bahdari', 'Mahmoud Eid', 'Alexis Norambuena', "Mus'ab Al-Batat", 'Abdelhamid Abuhabib', 'Khader Yousef']
['22', '27', '23', '35', '29', '26', '23', '25', '23', '26', '23', '26', '24', '26', '30', '26', '32', '33', '21', '23', '22', '30', '34', '30', '29', '22', '26', '33', '27', '22', '24', '25', '23', '29', '24', '25', '24', '24', '25', '26', '23', '24', '23', '24', '34', '27', '33', '24', '25', '24', '25', '22', '26', '27', '25', '25', '24', '29', '26', '29', '22', '23', '34', '21', '29', '30', '23', '28', '28', '27', '26', '29', '30', '23', '29', '24', '32', '27', '26', '27', '22', '31', '27', '26', '23', '29', '22', '21', '24', '28', '23', '27', '23', '22', '28', '23', '29', '27', '29', '32', '27', '21', '21', '31', '26', '25', '31', '28', '28', '33', '27', '25', '25', '23', '28', '28', '23', '30', '27', '29', '21', '25', '24', '25', '27', '25', '28', '22', '34', '24', '22', '30', '23', '20', '24', '22', '24', '30', '28', '25', '25', '25', '25', '21', '23', '25', '27', '34', '27', '23', '27', '24', '25', '25', '25', '28', '21', '27', '27', '21', '25', '28', '25', '23', '26', '27', '24', '24', '33', '27', '22', '22', '22', '24', '22', '20', '29', '22', '26', '23', '22', '23', '24', '26', '31', '24', '32', '33', '34', '30', '22', '27', '24', '27', '26', '26', '31', '24', '27', '24', '21', '23', '20', '28', '22', '27', '30', '24', '29', '24', '25', '29', '24', '25', '24', '23', '23', '25', '25', '25', '26', '26', '22', '23', '31', '26', '25', '23', '25', '29', '28', '21', '22', '24', '28', '22', '21', '30', '26', '24', '29', '24', '25', '24', '24', '24', '27', '21', '25', '24', '24', '25', '29', '34', '26', '22', '21', '26', '30', '23', '25', '25', '28', '29', '24', '29', '28', '21', '32', '25', '26', '25', '25', '23', '25', '31', '20', '27', '28', '28', '27', '34', '25', '28', '25', '29', '28', '27', '22', '31', '26', '30', '26', '22', '22', '23', '26', '28', '32', '21', '22', '20', '25', '24', '24', '28', '20', '31', '23', '32', '23', '27', '22', '22', '20', '24', '26', '23', '27', '30', '24', '21', '22', '22', '20', '23', '21', '23', '26', '23', '31', '18', '23', '22', '28', '20', '22', '27', '22', '20', '21', '22', '20', '23', '24', '32', '31', '28', '28', '27', '28', '27', '25', '31', '23', '28', '28', '21', '30', '21', '30', '21', '25', '30', '34', '23', '32']
['13', '12', '13', '77', '33', '21', '16', '3', '5', '32', '21', '5', '7', '16', '52', '7', '50', '8', '3', '4', '5', '11', '81', '64', '13', '9', '4', '37', '17', '34', '9', '10', '16', '70', '4', '42', '18', '12', '66', '64', '0', '29', '7', '7', '70', '4', '100', '35', '27', '33', '7', '42', '17', '47', '38', '58', '1', '108', '38', '33', '17', '11', '113', '13', '0', '115', '1', '0', '4', '12', '14', '27', '43', '14', '14', '0', '39', '10', '7', '21', '15', '70', '21', '0', '1', '149', '5', '2', '48', '58', '3', '6', '7', '4', '23', '9', '55', '11', '56', '102', '60', '9', '9', '84', '11', '2', '39', '4', '36', '111', '48', '37', '0', '2', '14', '58', '6', '103', '37', '6', '8', '5', '20', '46', '7', '9', '48', '10', '125', '15', '7', '90', '17', '15', '23', '1', '2', '45', '30', '10', '8', '7', '41', '1', '22', '8', '33', '81', '49', '0', '41', '2', '21', '22', '14', '79', '2', '36', '50', '4', '10', '61', '0', '10', '35', '3', '12', '2', '21', '31', '12', '25', '1', '9', '2', '11', '45', '3', '0', '0', '4', '3', '14', '10', '53', '66', '89', '20', '145', '54', '1', '7', '45', '2', '2', '1', '84', '1', '19', '2', '12', '7', '4', '19', '1', '24', '64', '4', '15', '14', '37', '3', '31', '31', '9', '26', '57', '0', '6', '2', '51', '2', '3', '', '1', '15', '8', '0', '9', '66', '24', '28', '12', '19', '103', '26', '10', '33', '81', '49', '56', '67', '4', '2', '11', '14', '0', '0', '9', '2', '15', '9', '54', '90', '8', '16', '1', '5', '36', '9', '15', '10', '61', '59', '27', '45', '42', '0', '71', '23', '0', '37', '1', '0', '16', '64', '0', '3', '65', '76', '17', '148', '26', '84', '63', '6', '15', '2', '6', '84', '2', '83', '14', '0', '4', '19', '49', '0', '117', '12', '15', '1', '27', '38', '3', '84', '4', '49', '30', '7', '45', '97', '6', '9', '2', '4', '71', '21', '48', '7', '13', '0', '41', '21', '8', '5', '27', '18', '4', '30', '131', '23', '14', '9', '76', '17', '5', '78', '2', '10', '10', '36', '3', '23', '14', '27', '44', '20', '17', '29', '48', '9', '12', '39', '10', '0', '1', '10', '29', '4', '7', '7', '25', '56', '66', '0', '27']
['0', '0', '0', '36', '2', '0', '1', '0', '1', '3', '1', '0', '2', '1', '6', '0', '1', '0', '0', '0', '0', '0', '13', '0', '0', '0', '0', '5', '0', '7', '1', '0', '1', '19', '1', '13', '0', '1', '5', '6', '0', '1', '0', '0', '4', '0', '0', '2', '2', '0', '0', '2', '2', '4', '12', '8', '0', '12', '1', '3', '0', '0', '6', '0', '0', '36', '0', '0', '3', '0', '0', '2', '2', '0', '0', '0', '1', '1', '0', '1', '0', '15', '0', '0', '0', '47', '0', '0', '30', '4', '0', '0', '0', '0', '0', '2', '1', '5', '0', '23', '11', '0', '4', '0', '0', '0', '1', '2', '5', '10', '1', '0', '0', '0', '0', '0', '0', '6', '1', '0', '0', '0', '0', '9', '4', '0', '3', '0', '6', '0', '3', '10', '2', '5', '2', '0', '0', '0', '0', '0', '0', '0', '4', '0', '5', '0', '14', '15', '12', '0', '0', '0', '1', '4', '0', '18', '0', '6', '10', '0', '0', '0', '0', '2', '2', '0', '2', '2', '4', '10', '3', '6', '0', '1', '1', '2', '1', '0', '0', '0', '0', '1', '0', '0', '0', '3', '6', '1', '37', '5', '0', '0', '9', '0', '0', '0', '8', '0', '11', '0', '1', '0', '2', '4', '0', '0', '0', '0', '4', '7', '2', '0', '20', '0', '0', '5', '24', '0', '0', '0', '7', '0', '1', '', '0', '4', '0', '0', '0', '0', '0', '4', '1', '0', '2', '1', '3', '6', '22', '3', '8', '4', '0', '1', '6', '0', '0', '0', '0', '0', '0', '1', '0', '8', '0', '4', '0', '0', '1', '0', '1', '5', '29', '16', '0', '21', '3', '0', '1', '0', '0', '4', '0', '0', '0', '0', '0', '0', '24', '3', '1', '14', '1', '40', '19', '1', '0', '0', '1', '2', '0', '2', '2', '0', '1', '0', '3', '0', '0', '0', '0', '0', '0', '6', '0', '10', '0', '18', '0', '0', '6', '20', '0', '0', '0', '0', '3', '4', '2', '0', '1', '0', '0', '0', '0', '1', '1', '0', '0', '1', '51', '0', '0', '0', '4', '1', '0', '13', '0', '0', '0', '1', '0', '0', '0', '0', '3', '1', '1', '1', '13', '0', '0', '7', '5', '0', '0', '1', '1', '1', '0', '0', '6', '1', '0', '0', '1']
['Club Brugge', 'Torpedo Moscow', 'West Bromwich Albion', 'New York Red Bulls', 'Melbourne Victory', 'Western Sydney Wanderers', 'Ingolstadt 04', 'Aston Villa', 'Western Sydney Wanderers', 'Bayer Leverkusen', 'FC Utrecht', 'Borussia Dortmund', 'Bursaspor', 'Zulte Waregem', 'Crystal Palace', 'Wellington Phoenix', 'Brisbane Roar', 'Adelaide United', 'Sydney FC', 'PEC Zwolle', 'Swindon Town', 'Jeonbuk Hyundai Motors', 'Al-Gharafa', 'Suwon Bluewings', 'Kashiwa Reysol', '1899 Hoffenheim', 'Shanghai SIPG', 'Al-Hilal', 'Mainz 05', 'Bayer Leverkusen', 'Sagan Tosu', 'Qatar SC', 'Lekhwiya', 'El-Jaish', 'Jeonbuk Hyundai Motors', 'Mainz 05', 'Qatar SC', 'Al-Ain', 'Swansea City', 'Bolton Wanderers', 'Sangju Sangmu', 'Guangzhou Evergrande', 'Guangzhou R&F', 'Ulsan Hyundai', 'FC Seoul', 'Cerezo Osaka', 'Wigan Athletic', 'Fanja', 'Al-Shabab', 'Fanja', 'Al-Oruba', 'Fanja', 'Al-Shabab', 'Al-Oruba', 'Fanja', 'Al-Nasr', 'Dhofar', 'Al-Oruba', 'Al-Oruba', 'Saham', 'Dhofar', 'Al-Nahda', 'Al-Oruba', 'Fanja', 'Al-Oruba', 'Saham', 'Saham', 'Al-Nahda', 'Al-Nahda', 'Al-Salmiya', 'Qadsia', 'Al-Kuwait', 'Al-Wahda', 'Qadsia', 'Qadsia', 'Kazma', 'Qadsia', 'Al-Kuwait', 'Qadsia', 'Qadsia', 'Qadsia', 'Al-Oruba', 'Qadsia', 'Al-Salmiya', 'Jahra', 'Qadsia', 'Qadsia', 'Al-Nasr', 'Kazma', 'Al-Arabi', 'Al-Arabi', 'Al-Arabi', 'Nasaf Qarshi', 'Pakhtakor Tashkent', 'Olmaliq', 'Bunyodkor', 'Changchun Yatai', 'Padideh', 'Al-Shabab', 'Seongnam', 'Krasnodar', 'Pakhtakor Tashkent', 'Pakhtakor Tashkent', 'Lokomotiv Tashkent', 'Lokomotiv Tashkent', 'Nasaf Qarshi', 'Lokomotiv Tashkent', 'Bunyodkor', 'Vorskla Poltava', 'Lokomotiv Tashkent', 'Lokomotiv Moscow', 'Lokomotiv Tashkent', 'Bunyodkor', 'Nasaf Qarshi', 'Bunyodkor', 'Al-Shabab', 'Al-Ahli', 'Al-Ahli', 'Al-Hilal', 'Al-Nassr', 'Al-Ahli', 'Al-Hilal', 'Al-Nassr', 'Al-Shabab', 'Al-Nassr', 'Al-Ahli', 'Al-Shabab', 'Al-Hilal', 'Al-Hilal', 'Al-Nassr', 'Al-Ahli', 'Al-Ahli', 'Al-Hilal', 'Al-Ittihad', 'Al-Hilal', 'Al-Hilal', 'Al-Nassr', 'Al-Shabab', 'Guangzhou Evergrande', 'Jiangsu Sainty', 'Guangzhou Evergrande', 'Guangzhou R&F', 'Guangzhou Evergrande', 'Jiangsu Sainty', 'Shanghai SIPG', 'Shanghai SIPG', 'Shandong Luneng', 'Guangzhou Evergrande', 'Shandong Luneng', 'Shanghai SIPG', 'Jiangsu Sainty', 'Jiangsu Sainty', 'Jiangsu Sainty', 'Jiangsu Sainty', 'Beijing Guoan', 'Guangzhou Evergrande', 'Shandong Luneng', 'Guangzhou Evergrande', 'Guizhou Renhe', 'Guangzhou Evergrande', 'Shandong Luneng', 'Pyongyang City', 'Rimyongsu', 'Rimyongsu', 'Amrokgang', 'Rimyongsu', 'Rimyongsu', 'Rimyongsu', 'Vegalta Sendai', 'Rimyongsu', 'Basel', 'Rimyongsu', 'April 25', 'April 25', 'April 25', 'Hwaebul', 'Wil 1900', 'April 25', 'April 25', 'Tokushima Vortis', 'Hwaebul', 'April 25', 'Rimyongsu', 'Penafiel', 'Esteghlal', 'Sepahan', 'Al-Ahli', 'Esteghlal', 'Osasuna', 'Al-Shahania', 'Naft Tehran', 'Esteghlal', 'Osasuna', 'Sepahan', 'Esteghlal', 'Naft Tehran', 'Tractor Sazi', 'Rah Ahan', 'Charlton Athletic', 'Foolad', 'NEC', 'Persepolis', 'Rubin Kazan', 'Al-Arabi', 'Naft Tehran', 'Al-Shahania', 'Al-Wasl', 'Al-Shabab', 'Al-Ahli', 'Al-Nasr', 'Baniyas', 'Al-Ain', 'Al-Jazira', 'Al-Wahda', 'Al-Ahli', 'Al-Ain', 'Al-Ahli', 'Al-Ain', 'Al-Jazira', 'Al-Ahli', 'Al-Ahli', 'Al-Ain', 'Al-Ahli', 'Al-Wahda', 'Al-Ain', 'Al-Wahda', 'Baniyas', 'Sharjah', 'Al-Ain', 'Al-Gharafa', 'Lekhwiya', 'Al-Sadd', 'Al-Sadd', 'Al-Arabi', 'Al-Gharafa', 'Lekhwiya', 'Al-Sadd', 'Al-Ahli', 'Al-Sadd', 'Al-Sadd', 'El-Jaish', 'Al-Sadd', 'El-Jaish', 'El-Jaish', 'Al-Arabi', 'Lekhwiya', 'Lekhwiya', 'El-Jaish', 'Lekhwiya', 'El-Jaish', 'Al-Sadd', 'Umm-Salal', 'Muharraq', 'Al-Nassr', 'Muharraq', 'Al-Riffa', 'Al-Riffa', 'Muharraq', 'Al-Qadisiyah', 'Al-Busaiteen', 'Hidd', 'Al-Riffa', 'Muharraq', 'Al-Sailiya', 'Hidd', 'Al-Mesaimeer', 'Muharraq', 'East Riffa', 'Muharraq', 'Al-Riffa', 'East Riffa', 'Al-Busaiteen', 'Al-Riffa', 'Manama', 'Al-Riffa', 'Standard Liège', 'Kashima Antlers', 'FC Tokyo', 'Milan', 'Internazionale', 'FC Tokyo', 'Gamba Osaka', 'Hannover 96', 'Mainz 05', 'Borussia Dortmund', 'Sagan Tosu', 'Urawa Red Diamonds', 'Kawasaki Frontale', 'FC Tokyo', 'Gamba Osaka', 'Sanfrecce Hiroshima', 'Eintracht Frankfurt', 'Eintracht Frankfurt', 'Kashima Antlers', 'Kashima Antlers', 'VfB Stuttgart', 'Southampton', 'Gamba Osaka', 'Al-Wehdat', 'Al-Wehdat', 'Al-Shabab', 'Al-Wehdat', 'Al-Khor', 'Al-Ramtha', 'Al-Wehdat', 'Al-Salmiya', 'Al-Qadisiyah', 'Al-Arabi', 'Shabab Al-Ordon', 'That Ras', 'Al-Faisaly', 'Al-Riffa', 'Hidd', 'Al-Wehdat', 'Al-Wehdat', 'Al-Wehdat', 'Al-Raed', 'Al-Khaleej', 'Al-Ittihad', 'Al-Jazeera', 'Al-Ramtha', 'Naft Al-Janoob', 'Ajman', 'Al-Shorta', 'Erbil', 'Swindon Town', 'Rizespor', 'Al-Shorta', 'Columbus Crew', 'Örebro', 'Unattached', 'Al Dhafra', 'Erbil', 'Alphense Boys', 'Al-Shorta', 'Al-Shorta', 'Al-Shorta', 'Al-Shorta', 'Baghdad', 'Al-Shorta', 'Al-Shorta', 'Erbil', 'Al-Minaa', 'Al-Shorta', 'Wadi Al-Nes', 'Thaqafi Tulkarm', 'Hilal Al-Quds', "Al-Am'ary", 'Hilal Al-Quds', 'Shabab Al-Khalil', 'Al-Faisaly', 'Hilal Al-Quds', 'Hilal Al-Quds', 'Hilal Al-Quds', 'Shabab Al-Dhahiriya', 'Hilal Al-Quds', 'NK Krka', 'Hilal Al-Quds', 'Al-Wehdat', 'Nyköping', 'GKS Belchatow', 'Shabab Al-Dhahiriya', 'Markaz Balata', 'Wadi Al-Nes', 'unattached', 'Shabab Al-Khalil', 'Hilal Al-Quds']

In [121]:
players_2015 = pd.DataFrame(ageList)
players_2015 = players_2015.rename(columns = {0:'age'})
players_2015['cap'] = capList
players_2015['goal'] = goalList

In [125]:
# goal 결측치 제거
players_2015[players_2015['goal']=='']

    age cap goal
223  23   0

In [126]:
players_2015.loc[players_2015['goal']=='','goal'] = 0

In [127]:
players_2015 = players_2015.astype(int)

In [128]:
players_2015['name'] = nameList

In [129]:
players_2015['club'] = clubList

In [130]:
players_2015.head()

   age  cap  goal            name                  club
0   22   13     0     Mathew Ryan           Club Brugge
1   27   12     0    Ivan Franjic        Torpedo Moscow
2   23   13     0  Jason Davidson  West Bromwich Albion
3   35   77    36      Tim Cahill    New York Red Bulls
4   29   33     2   Mark Milligan     Melbourne Victory

In [158]:
# players_2015.to_csv('./players_2015.csv',index=False,header=True)

In [164]:
players_2015 = pd.read_csv('./players_2015.csv')

In [165]:
Australia = players_2015[0:23]
south_korea = players_2015[23:46]
oman = players_2015[46:69]
kuwait = players_2015[69:92]
uzbekistan = players_2015[92:115]
saudi = players_2015[115:138]
china = players_2015[138:161]
north_korea = players_2015[161:183]
iran = players_2015[183:206]
uae = players_2015[206:229]
qatar = players_2015[229:252]

bahrain = players_2015[252:275]
japan = players_2015[275:298]
jordan = players_2015[298:321]
iraq = players_2015[321:344]
palestine = players_2015[344:]

In [170]:
palestine

     age  cap  goal                 name                 club
344   24   14     0           Tawfiq Ali          Wadi Al-Nes
345   32   27     0           Raed Fares      Thaqafi Tulkarm
346   31   44     3     Hussam Abu Saleh        Hilal Al-Quds
347   28   20     1          Ahmed Harbi            Al-Am'ary
348   28   17     1        Haytham Theeb        Hilal Al-Quds
349   27   29     1      Mousa Abu Jazar     Shabab Al-Khalil
350   28   48    13        Ashraf Nu'man           Al-Faisaly
351   27    9     0         Hesham Salhe        Hilal Al-Quds
352   25   12     0         Khaled Salem        Hilal Al-Quds
353   31   39     7      Ismail Al-Amour        Hilal Al-Quds
354   23   10     5          Ahmed Maher  Shabab Al-Dhahiriya
355   28    0     0          Tamer Salah        Hilal Al-Quds
356   28    1     0       Jaka Ihbeisheh              NK Krka
357   21   10     1       Abdullah Jaber        Hilal Al-Quds
358   30   29     1    Abdelatif Bahdari            Al-Wehdat
359   21    4     1          Mahmoud Eid             Nyköping
360   30    7     0    Alexis Norambuena        GKS Belchatow
361   21    7     0      Mus'ab Al-Batat  Shabab Al-Dhahiriya
362   25   25     6  Abdelhamid Abuhabib        Markaz Balata
363   30   56     1        Khader Yousef          Wadi Al-Nes
364   34   66     0          Ramzi Saleh           unattached
365   23    0     0          Rami Hamadi     Shabab Al-Khalil
366   32   27     1    Murad Ismail Said        Hilal Al-Quds

In [172]:
Australia['nation'] = 'Australia'
south_korea['nation'] = 'south_korea'
oman['nation'] = 'oman'
kuwait['nation'] = 'kuwait'
uzbekistan['nation'] = 'uzbekistan'
saudi['nation'] = 'saudi'
china['nation'] = 'china'
north_korea['nation'] = 'north_korea'
iran['nation'] = 'iran'
uae['nation'] = 'uae'
qatar['nation'] = 'qatar'
bahrain['nation'] = 'bahrain'
japan['nation'] = 'japan'
jordan['nation'] = 'jordan'
iraq['nation'] = 'iraq'
palestine['nation'] = 'palestine'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [174]:
players_2015 = pd.concat([Australia,south_korea,oman,kuwait,uzbekistan,saudi,china,north_korea,iran,uae,qatar,bahrain
                     ,japan,jordan,iraq,palestine])

In [175]:
colnames = ['name','age','cap','goal','club','nation']
players_2015[colnames]

,name,age,cap,goal,club,nation
0,Mathew Ryan,22,13,0,Club Brugge,Australia
1,Ivan Franjic,27,12,0,Torpedo Moscow,Australia
2,Jason Davidson,23,13,0,West Bromwich Albion,Australia
3,Tim Cahill,35,77,36,New York Red Bulls,Australia
4,Mark Milligan,29,33,2,Melbourne Victory,Australia
5,Matthew Spiranovic,26,21,0,Western Sydney Wanderers,Australia
6,Mathew Leckie,23,16,1,Ingolstadt 04,Australia
7,Chris Herd,25,3,0,Aston Villa,Australia
8,Tomi Juric,23,5,1,Western Sydney Wanderers,Australia
9,Robbie Kruse,26,32,3,Bayer Leverkusen,Australia
10,Tommy Oar,23,21,1,FC Utrecht,Australia
11,Mitchell Langerak,26,5,0,Borussia Dortmund,Australia
12,Aziz Behich,24,7,2,Bursaspor,Australia
13,James Troisi,26,16,1,Zulte Waregem,Australia
14,Mile Jedinak,30,52,6,Crystal Palace,Australia
15,Nathan Burns,26,7,0,Wellington Phoenix,Australia
16,Matt McKay,32,50,1,Brisbane Roar,Australia
17,Eugene Galekovic,33,8,0,Adelaide United,Australia
18,Terry Antonis,21,3,0,Sydney FC,Australia
19,Trent Sainsbury,23,4,0,PEC Zwolle,Australia
20,Massimo Luongo,22,5,0,Swindon Town,Australia
21,Alex Wilkinson,30,11,0,Jeonbuk Hyundai Motors,Australia
22,Mark Bresciano,34,81,13,Al-Gharafa,Australia
23,Jung Sung-ryong,30,64,0,Suwon Bluewings,south_korea
24,Kim Chang-soo,29,13,0,Kashiwa Reysol,south_korea
25,Kim Jin-su,22,9,0,1899 Hoffenheim,south_korea
26,Kim Ju-young,26,4,0,Shanghai SIPG,south_korea
27,Kwak Tae-hwi,33,37,5,Al-Hilal,south_korea
28,Park Joo-ho,27,17,0,Mainz 05,south_korea
29,Son Heung-min,22,34,7,Bayer Leverkusen,south_korea
...,...,...,...,...,...,...
337,Alaa Abdul-Zahra,27,78,13,Al-Shorta,iraq
338,Sameh Saeed,22,2,0,Baghdad,iraq
339,Mahdi Kamel,20,10,0,Al-Shorta,iraq
340,Mohammed Hameed,21,10,0,Al-Shorta,iraq
341,Saad Abdul-Amir,22,36,1,Erbil,iraq
342,Ali Husni,20,3,0,Al-Minaa,iraq
343,Waleed Salem,23,23,0,Al-Shorta,iraq
344,Tawfiq Ali,24,14,0,Wadi Al-Nes,palestine
345,Raed Fares,32,27,0,Thaqafi Tulkarm,palestine
346,Hussam Abu Saleh,31,44,3,Hilal Al-Quds,palestine
347,Ahmed Harbi,28,20,1,Al-Am'ary,palestine
348,Haytham Theeb,28,17,1,Hilal Al-Quds,palestine
349,Mousa Abu Jazar,27,29,1,Shabab Al-Khalil,palestine
350,Ashraf Nu'man,28,48,13,Al-Faisaly,palestine
351,Hesham Salhe,27,9,0,Hilal Al-Quds,palestine
352,Khaled Salem,25,12,0,Hilal Al-Quds,palestine
353,Ismail Al-Amour,31,39,7,Hilal Al-Quds,palestine
354,Ahmed Maher,23,10,5,Shabab Al-Dhahiriya,palestine
355,Tamer Salah,28,0,0,Hilal Al-Quds,palestine
356,Jaka Ihbeisheh,28,1,0,NK Krka,palestine
357,Abdullah Jaber,21,10,1,Hilal Al-Quds,palestine
358,Abdelatif Bahdari,30,29,1,Al-Wehdat,palestine
359,Mahmoud Eid,21,4,1,Nyköping,palestine
360,Alexis Norambuena,30,7,0,GKS Belchatow,palestine
361,Mus'ab Al-Batat,21,7,0,Shabab Al-Dhahiriya,palestine
362,Abdelhamid Abuhabib,25,25,6,Markaz Balata,palestine
363,Khader Yousef,30,56,1,Wadi Al-Nes,palestine
364,Ramzi Saleh,34,66,0,unattached,palestine
365,Rami Hamadi,23,0,0,Shabab Al-Khalil,palestine
366,Murad Ismail Said,32,27,1,Hilal Al-Quds,palestine

In [177]:
players_2015.to_csv('./semi_players_2015.csv',index=False,header=True)

In [52]:
# database로 넣기
import pymysql
from sqlalchemy import create_engine

In [53]:
# Table의 column이름과 df의 column 이름이 일치해야함.
column = colnames = ['age','cap','goal','height','name','nation','salary']
total_players = pd.read_csv('./total_players.csv')
total_players = pd.DataFrame(total_players)
total_players.columns = column
total_players.head()

   age  cap  goal  height                 name nation  salary
0   31   26     0     184         AliKhaseifA.  U.A.E     270
1   29   22     0     176     KhalidEisaKhalid  U.A.E     270
2   22    0     0     185            MohamedAl  U.A.E     225
3   30   24     0     181       FaresJumaFares  U.A.E     495
4   29   41     0     183  MohamedAhmadMohamed  U.A.E     360

In [54]:
engine = create_engine("mysql+pymysql://root:" + "1111" + 
                       "@127.0.0.1:3306/asiancup?charset=utf8",
                      encoding = 'utf-8')
conn = engine.connect()

In [55]:
total_players.to_sql(name = 'players', con = engine, if_exists = 'append', index = False)

In [56]:
conn.close()