In [1]:
import pandas as pd
import numpy as np

In [2]:
total = pd.read_csv('./data/total_match.csv')

In [3]:
total.head()

,seq,gameday,team,shoot,foul,possession,weater,temp,rank,salary,goal
0,12,29-Jan-11. 18:00,일본,3,14,55,4,20,17,4180995,1
1,51,29-Jan-11. 18:00,오스트레일리아,8,22,45,4,20,20,4910670,1
2,35,28-Jan-11. 18:00,우즈베키스탄,5,15,57,1,22,73,187874,2
3,24,28-Jan-11. 18:00,한국,4,10,43,1,22,31,2308955,3
4,34,25-Jan-11. 19:25,우즈베키스탄,3,9,67,4,21,73,187874,0

In [8]:
total['shoot'][total['team']=='바레인'].mean()

5.666666666666667

In [11]:
total['foul'][total['team']=='바레인'].mean()

17.833333333333332

In [12]:
total['possession'][total['team']=='바레인'].mean()

48.0

In [14]:
total['salary'][total['team']=='바레인'].mean()

66162.5

In [23]:
total['rank'][total['team']=='카타르'].mean()

89.42857142857143

In [30]:
total_av = pd.pivot_table(total, index = ['team'], aggfunc = np.mean)

In [31]:
del total_av['salary']
del total_av['seq']
del total_av['rank']
del total_av['temp']
del total_av['weater']

In [54]:
rank_list = []
rank_list.append((17+53)/2)
rank_list.append((124+105)/2)
rank_list.append((98+80)/2)
rank_list.append(106)
rank_list.append((113+65)/2)
rank_list.append(104)
rank_list.append((20+100)/2)
rank_list.append((81+87)/2)
rank_list.append((73+74)/2)
rank_list.append((91+89)/2)
rank_list.append((42+45)/2)
rank_list.append(160)
rank_list.append((17+53)/2)
rank_list.append((70+84)/2)
rank_list.append((92+86)/2)
rank_list.append((96+139)/2)
rank_list.append(134)
rank_list.append((31+51)/2)

In [55]:
total_av['rank'] = rank_list

In [78]:
salary_list = []
salary_list.append((125236+7089)/2)
salary_list.append((233211+4343)/2)
salary_list.append((577598+12002)/2)
salary_list.append(138091)
salary_list.append((7380+138181)/2)
salary_list.append(165857)
salary_list.append((4910670+1534325)/2)
salary_list.append((4410+3802)/2)
salary_list.append((187874+979110)/2)
salary_list.append((6118+9586)/2)
salary_list.append((1556555+936990)/2)
salary_list.append(1817)
salary_list.append((4180995+7021535)/2)
salary_list.append((143168+8151)/2)
salary_list.append((11295+137367)/2)
salary_list.append((10350+5148)/2)
salary_list.append(1825)
salary_list.append((2308955+2306476)/2)

In [79]:
total_av['salary'] = salary_list

In [80]:
total_av

              foul      goal  possession     shoot   rank     salary
team
바레인      17.833333  1.500000   48.000000  5.666667   35.0    66162.5
북한       16.166667  0.333333   44.833333  3.333333  114.5   118777.0
사우디아라비아  11.500000  1.000000   56.333333  3.333333   89.0   294800.0
시리아      18.666667  1.333333   49.333333  4.666667  106.0   138091.0
아랍에미리트   12.222222  1.444444   51.888889  3.444444   89.0    72780.5
오만       11.000000  0.333333   34.666667  2.000000  104.0   165857.0
오스트레일리아  17.500000  2.166667   54.833333  7.416667   60.0  3222497.5
요르단      15.142857  1.428571   39.714286  3.000000   84.0     4106.0
우즈베키스탄   17.900000  1.500000   54.600000  4.600000   73.5   583492.0
이라크      19.200000  1.200000   49.500000  4.300000   90.0     7852.0
이란       17.375000  1.625000   45.500000  4.000000   43.5  1246772.5
인도       12.666667  1.000000   36.000000  4.000000  160.0     1817.0
일본       20.000000  2.300000   60.900000  6.800000   35.0  5601265.0
중국       14.000000  1.285714   46.428571  4.571429   77.0    75659.5
카타르      15.857143  1.285714   49.285714  4.571429   89.0    74331.0
쿠웨이트     13.833333  0.333333   50.666667  2.166667  117.5     7749.0
팔레스타인    13.000000  0.333333   41.333333  2.000000  134.0     1825.0
한국       15.416667  1.750000   52.500000  6.500000   41.0  2307715.5

In [81]:
total_av.to_csv('./total_av.csv',encoding='utf-8')